<%- include ('partials/estructura.html') -%>
<%- include ('partials/nav.html') -%>

<h1><%= user %><h1>


<div class="container">

    
    <form action="/add" method="post">
        <div class="row">
            <div class="col-md-12 mt-5">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="navbar-collapse" id="navbarNav">
                        <a class="btn btn-dark-green" href="/carga" ><i class="fas fa-home"></i> Inicio</a>
                      <ul class="navbar-nav ml-auto" >
                        <li class="nav-item active ">
                            <button class="btn btn-primary" type="submit" id="mov"><i class="fas fa-save"></i> Guardar</button>
                        </li>
                      </ul>
                    </div>
                  </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-5">
                <div class="jumbotron">
                    <h3 class="display-5" id="mov2">Información Academica</h3>
                    <hr class="my-4">
                        <div class="row">
                            <div class="col-md-12 d-flex">
                                <button class="btn btn-dark ml-auto btn-sm"><i class="fas fa-plus-square"></i></button>
                            </div>
                        </div>
                  </div>
            </div>
        </div>
       
    </form>
</div>

<%- include ('partials/footer.html') -%>

<style>
     #footer{
     position: relative;
     margin-top: 367px;
 }
 @media(max-width: 990px){
          #mov{
            position: absolute;
            margin-left: 140px;
            margin-top: -52px;
          }

          #mov2{
            margin-left: 70px;
          }

          }

 </style>