<%- include ('partials/estructura.html') -%>
<%- include ('partials/nav.html') -%>

<script>
(function() {
'use strict';
window.addEventListener('load', function() {
// Fetch all the forms we want to apply custom Bootstrap validation styles to
var forms = document.getElementsByClassName('needs-validation');
// Loop over them and prevent submission
var validation = Array.prototype.filter.call(forms, function(form) {
form.addEventListener('submit', function(event) {
if (form.checkValidity() === false) {
event.preventDefault();
event.stopPropagation();
validar();
}
form.classList.add('was-validated');
}, false);
});
}, false);
})();

function validar(){
  email = document.getElementById('validationCustom03').value;
  
    if(email){
    document.getElementById("res").innerHTML = "Ingrese un email valido"
  }
  else{
    document.getElementById("res").innerHTML = "Ingrese un email, por favor"
  }
  
  
  

}


</script>

<div class="container">
     
  




  <form action="/add" method="post" class="needs-validation" novalidate autocomplete="off" >

  <div class="row">
      <div class="col-md-12 mt-5">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto" >
                      <li class="nav-item active ">
                        <a class="btn btn-dark-green" href="/carga" ><i class="fas fa-home"></i></a>
                      </li>
                      <li class="nav-item active ">
                        <button class="btn btn-info" type="submit" id="mov" title="Guardar" ><i class="fas fa-save"></i></button>
                    </li>
                    </ul>
              </div>
            </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-3">
        <div class="jumbotron ">
          <ul class="nav nav-pills mb-3"  id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                aria-controls="pills-home" aria-selected="true">Información personal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                aria-controls="pills-profile" aria-selected="false">Experiencia laboral</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                aria-controls="pills-contact" aria-selected="false">Educación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-habilidades-tab" data-toggle="pill" href="#pills-habilidades" role="tab"
                aria-controls="pills-habilidades" aria-selected="false">Hablilidades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-certificados-tab" data-toggle="pill" href="#pills-certificados" role="tab"
                aria-controls="pills-certificados" aria-selected="false">Certificaciones/licencias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-adicional-tab" data-toggle="pill" href="#pills-adicional" role="tab"
                aria-controls="pills-adicional" aria-selected="false">Información adicional</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto" >
            
          
          </ul>
          <hr class="mt-1 mb-4 ">
          <div class="tab-content pt-2 pl-1" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><form action="/add" method="post" class="needs-validation" novalidate autocomplete="off" >
                    
              <div class="row">
                  <div class="col-md-12 mt-2">
                      <div class="jumbotron ">
                          
                        <div class="row">
                            <div class="col-md-6">
                              <!-- Material input -->
                                  <div class="md-form">
                                    <label for="validationCustom01">Nombre</label>
                                    <input type="text" name="nombre" class="form-control" id="validationCustom01" required>
                                    <div class="valid-feedback" >
                                      Nombre Correcto.
                                    </div>   
                                    <div class="invalid-feedback">
                                      Ingrese un nombre, por favor. 
                                    </div>
                                  </div>
                           
                            </div>
                            <div class="col-md-6">
                              <div class="md-form">
                                <label for="validationCustom02">Dni</label>
                                <input type="text" name="dni" class="form-control" id="validationCustom02" required>
                                <div class="valid-feedback">
                                  DNI Correcto.
                                </div>   
                                <div class="invalid-feedback">
                                  Ingrese un dni, por favor. 
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="md-form">
                              <label for="validationCustom03" >Email</label>
                              <input type="email" name="email" onkeyup="validar()" class="form-control" id="validationCustom03" required>
                              <div class="valid-feedback">
                                Email Correcto.
                              </div>   
                              <div class="invalid-feedback" id="res">
                                
                              </div>
                              <div id= "res"></div>
                              
                            </div>
                            </div>
                            <div class="col-md-6">
                              <div class="md-form">
                                <label for="validationCustom04">Telefono</label>
                                <input type="text" name="telefono" class="form-control" id="validationCustom04" required>
                                <div class="valid-feedback">
                                  Telefono Correcto.
                                </div>   
                                <div class="invalid-feedback">
                                  Ingrese un telefono, por favor. 
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="md-form">
                              <label for="validationCustom05">Genero</label>
                              <input type="text" name="genero" class="form-control" id="validationCustom05" required>
                              <div class="valid-feedback">
                                Genero Correcto.
                              </div>   
                              <div class="invalid-feedback">
                                Ingrese un genero, por favor. 
                              </div>
                            </div>
                          </div>
                        </div>
                        </div>
                  </div>
              </div>
             
          </form> 
        </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Ad
              pariatur nostrud pariatur exercitation ipsum ipsum culpa mollit commodo mollit ex. Aute sunt incididunt
              amet commodo est sint nisi deserunt pariatur do. Aliquip ex eiusmod voluptate exercitation cillum id
              incididunt elit sunt. Qui minim sit magna Lorem id et dolore velit Lorem amet exercitation duis
              deserunt. Anim id labore elit adipisicing ut in id occaecat pariatur ut ullamco ea tempor duis.</div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">Est
              quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure ex.
              Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim
              exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit
              aliquip nostrud. Amet ex cupidatat excepteur aute veniam incididunt mollit cupidatat esse irure officia
              elit do ipsum ullamco Lorem. Ullamco ut ad minim do mollit labore ipsum laboris ipsum commodo sunt
              tempor enim incididunt. Commodo quis sunt dolore aliquip aute tempor irure magna enim minim
              reprehenderit. Ullamco consectetur culpa veniam sint cillum aliqua incididunt velit ullamco sunt
              ullamco quis quis commodo voluptate. Mollit nulla nostrud adipisicing aliqua cupidatat aliqua pariatur
              mollit voluptate voluptate consequat non.</div>
              <div class="tab-pane fade" id="pills-habilidades" role="tabpanel" aria-labelledby="pills-habilidades-tab">Est
                quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure ex.
                Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim
                exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit
                aliquip nostrud. Amet ex cupidatat .</div>
                <div class="tab-pane fade" id="pills-certificados" role="tabpanel" aria-labelledby="pills-certificados-tab">Est
                  quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure ex.
                  Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim
                  exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit
                  aliquip nostrud. Amet ex cupidatat nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim
                  exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit
                  aliquip nostrud. Amet ex cupidatat .</div>
                  <div class="tab-pane fade" id="pills-certificados" role="tabpanel" aria-labelledby="pills-certificados-tab">Est
                    quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure ex.
                    Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim
                    exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit
                    aliquip nostrud. Amet ex cupidatat nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim
                    exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit
                    aliquip nostrud. Amet ex cupidatat .</div>
          </div>
          </div>
      </div>
    </div>


</div>




<%- include ('partials/footer.html') -%>

<style>
     #footer{
     position: absolute;
     margin-top: 232px;
 }
 @media(max-width: 990px){
          #mov{
            position: absolute;
            margin-left: 140px;
            margin-top: -52px;
          }

          #mov2{
            margin-left: 70px;
          }

          }

 </style>