<%- include ('partials/estructura.html') -%>
<%- include ('partials/nav.html') -%>
<div class="container">
<div class="row">
       <div class="col-md-12 mt-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto" >
                <li class="nav-item active">
                    <a class="btn btn-info mr-2" href="/cargaperfil"><i class="fas fa-plus-circle"></i> Nuevo</a>
                </li>
                <li class="nav-item active">
                  <a class="btn btn-primary mr-2" href="/muestra"><i class="fas fa-search"></i> Buscador</a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-dark-green" href="/lista" id="mov"><i class="fas fa-users"></i> Perfiles</a>
                </li>
              </ul>
            </div>
          </nav>
       </div>
</div>
<div class="row">
    <div class="col-md-12 mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Hola, Natalia!</h1>
            <p class="lead"></p>
            <hr class="my-4">
          
          </div>
    </div>
</div>
</div>

<%- include ('partials/footer.html') -%>
<style>
   @media(max-width: 990px){
          #mov{
            position: absolute;
            margin-left: 140px;
            margin-top: -52px;
          }
         
          }
</style>