<%- include ('partials/estructura.html') -%>
<%- include ('partials/nav.html') -%>

<div class="container">
<div class="row">
       <div class="col-md-12 mt-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto" >
               
                <li class="nav-item active">
                    <a class="btn btn-dark-green" href="/lista" id="mov"><i class="fas fa-users"></i> Lista de Perfiles</a>
                </li>
              </ul>
            </div>
          </nav>
       </div>
</div>
<div class="row">
    <div class="col-md-12 mt-4">
        <div class="jumbotron">
            
            <p class="lead"></p>
            <hr class="my-4">
            <h2><%= user.nombre %></h2>
          </div>
    </div>
</div>
</div>

  
 

  <%- include ('partials/footer.html') -%>

<style>
    @media(max-width: 990px){
          #mov{
            position: absolute;
            margin-left: 200px;
            margin-top: -52px;
          }
          .mobile{
            position: absolute;
            margin-top: 170px;
          }
        }
 
</style>