<%- include ('partials/estructura.html') -%>
<%- include ('partials/nav.html') -%>



<div class="container">
    <form action="/edit/<%= user._id %>" method="post">
        <div class="row">
            <div class="col-md-12 mt-5">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="navbar-collapse" id="navbarNav">
                        <a class="btn btn-dark-green" href="/carga" ><i class="fas fa-home"></i> Inicio</a>
                      <ul class="navbar-nav ml-auto" >
                        <li class="nav-item active ">
                            <button class="btn btn-primary" type="submit" id="mov"><i class="fas fa-save"></i> Guardar</button>
                        </li>
                      </ul>
                    </div>
                  </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-5">
                <div class="jumbotron">
                    <h3 class="display-5" id="mov2">Información Personal</h3>
                    <hr class="my-4">
                  <div class="row">
                      <div class="col-md-6">
                        <!-- Material input -->
                            <div class="md-form">
                                <input type="text" id="nombre" name="nombre" class="form-control" value="<%= user.nombre %>">
                                <label for="nombre">Nombre Completo</label>
                            </div>
                      </div>
                      <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" id="dni" name="dni" class="form-control" value="<%= user.dni %>">
                            <label for="dni">Dni</label>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" id="email" name="email" class="form-control" value="<%= user.email %>">
                            <label for="email">Email</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" id="telefono" name="telefono" class="form-control" value="<%= user.telefono %>">
                            <label for="telefono">Telefono</label>
                        </div>
                      </div>
                  </div>
                 
                  </div>
            </div>
        </div>
       
    </form>
</div>

<%- include ('partials/footer.html') -%>

<style>
     #footer{
     position: absolute;
     margin-top: 232px;
 }
 @media(max-width: 990px){
          #mov{
            position: absolute;
            margin-left: 140px;
            margin-top: -52px;
          }

          #mov2{
            margin-left: 70px;
          }

          }

 </style>