<%- include ('partials/estructura.html') -%>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" placeholder="Introduce tu usuario" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Introduce tu contraseña" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>