<%- include ('partials/estructura.html') -%>
<%- include ('partials/nav.html') -%>



<div class="container">
    <div class="row">
           <div class="col-md-12 mt-5">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto" >
                    <li class="nav-item active">
                        <a class="btn btn-dark-green" href="/carga" id="mov"><i class="fas fa-home"></i> Inicio</a>
                    </li>
                  </ul>
                </div>
              </nav>
           </div>
    </div>
   
    <div class="row">
        <div class="col-md-12 my-3">
            <table id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0"
            width="100%">
            <thead>
              <tr>
                <th class="th-sm">Nombre
                </th>
                <th class="th-sm">Dni
                </th>
                <th class="th-sm">Email
                </th>
                <th class="th-sm">Telefono
                </th>
                <th class="th-sm">Acciones
                </th>
              </tr>
            </thead>
            <tbody>
             <% for (var i = 0 ; i < users.length; i++) { %>
              
              <tr>
                <td >
                  <%= users[i].nombre %>
                </td>
                <td>
                  <%= users[i].dni %>
                </td>
                <td>
                  <%= users[i].email %>
                </td>
                <td >
                  <%= users[i].telefono %> 
                </td>
                <td>
                
                   <a href="/detalle/<%= users[i]._id %>" class="btn btn-primary"><i class="far fa-eye"></i></a>
                  <a href="/delete/<%= users[i]._id %>" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                  <a href="/edit/<%= users[i]._id %>" class="btn btn-success"><i class="fas fa-pen-alt"></i></a>
                
                </td>
              </tr>

              <% } %>
            </tbody>
            <tfoot>
              <tr>
                <th>Nombre
                </th>
                <th>Dni
                </th>
                <th>Email
                </th>
                <th>Telefono
                </th>
                <th>Acciones 
                </th>
              </tr>
            </tfoot>
          </table>
              
              
        </div>
    </div>
    </div>





    <%- include ('partials/footer.html') -%>

   <style>




        #footer{
        position: absolute;
        margin-top: 204px;
    }
 

    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
    }
   </style>

   <script>
       $(document).ready(function () {
            $('#dtDynamicVerticalScrollExample').DataTable({
            "scrollY": "50vh",
            
            "scrollCollapse": true,
            "language": {
            "emptyTable":			"No hay datos disponibles en la tabla",
            "info":		   		"Del _START_ al _END_ de _TOTAL_ ",
            "infoEmpty":			"Mostrando 0 registros de un total de 0.",
            "infoFiltered":			"(filtrados de un total de _MAX_ registros)",
            "infoPostFix":			"(actualizados)",
            "lengthMenu":			"Mostrar _MENU_ registros",
            "loadingRecords":		"Cargando...",
            "processing":			"Procesando...",
            "search":			"Buscar:",
            //"searchPlaceholder":		"Dato para buscar",
            "zeroRecords":			"No se han encontrado coincidencias.",
            "paginate": {
              "first":			"Primera",
              "last":				"Última",
              "next":				"Siguiente",
              "previous":			"Anterior"
            },
          },
            });
            $('.dataTables_length').addClass('bs-select');
            });

            function test() {
        console.log( "Ejecutando función test()" );

        var valor = document.getElementById("valor").value;
        console.log(valor)

            
            
      }

   </script>