<%- include ('partials/estructura.html') -%>
<%- include ('partials/nav.html') -%>


<div class="container">
    <div class="row">
           <div class="col-md-12 mt-5">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav mr-auto" >
                    <li class="nav-item active">
                    
                      <form class="form-inline mr-auto" method="post" action="/search">
                        <input class="form-control mr-sm-2" type="text" name="dni" id="dni" placeholder="Ingrese DNI" aria-label="Search">
                        <button class="btn btn-success btn-rounded btn-sm my-0" type="submit"><i class="fas fa-search"></i></button>
                      </form>
                       
                    </li>
                  </ul>
                 
                  <ul class="navbar-nav ml-auto" >
                    <li class="nav-item active">
                        <a class="btn btn-dark-green" href="/carga" id="mov"><i class="fas fa-home"></i> Inicio</a>
                    </li>
                  </ul>
                </div>
              </nav>
           </div>
    </div>

    <div class="row">
     <div class="col-md-12 mt-3">
      <% if(alert == 1) {%>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          "No hay resultados"
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% }%>
     </div>
    </div>   
    
    
    <div class="row">

            <% for (var i = 0 ; i < users.length; i++) { %>
              <div class="col-md-4">                
                
<div class="card mt-4">

    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title"> <%= users[i].nombre %></h4>
      <!-- Text -->
      <p class="card-text"> DNI: <%= users[i].dni %></p>
      <p class="card-text"> Email: <%= users[i].email %></p>
      <!-- Button -->
      <div class="row">
        <div class="col-md-7">
          <a href="#" class="btn btn-primary btn-block">Contactar</a>
        </div>
        <div class="col-md-3 mt-3 ml-5">
          <i class="fas fa-star"></i>
          <label for="">4.5</label>
        </div>
      </div>
      
  
    </div>
  
</div>
        </div>
        <% } %>      
      
      </div>
    </div>





   

   <style>

 

    
   </style>

  