<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="/">CV Upload System</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
     
     


    </ul>
      <ul class="navbar-nav ml-auto mov">
        <li class="nav-item mt-2 mr-4">
          <a class="nav-link" href="#">Enviar CV <i class="far fa-file-alt"></i></a>
        </li>
        <li class="nav-item active">
          <a class="btn btn-info" href="/"> Registrarse </a>
        </li>
        <li class="nav-item active">
          <a class="btn btn-success" href="/carga"> Iniciar Sesión </a>
        </li>
        
  
    </ul>
    
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->

